$primary_colour: #045D8C;
$primary_background_colour: #F2F8FC;
$border_colour: #EFEFEF;
$fill_colour: #FCFCFC;
$lighter_blue: #F7FDFF;
$footer_colour: #222222;
$text_colour: #959595;
$title_colour: #303030;


$grey: #959595;
$dark_grey: #303030;

